{
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "always",
    "trailingComma": "es5",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "printWidth": 80,
    "singleQuote": true,
    "semi": true
}